body {
    font-family: sans-serif;
    background-color: Aquamarine;
}

header {
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
    text-align:center;
    
    
    
}

header img{
    border-radius: 10px;
    border: 3px solid black;
}

main img{
    border-radius: 10px;
    border: 3px solid black;
}


nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
    
}

h1 {
    text-align: center;
    color: brown;
    font-size: 36px;
    margin-top: 15px ;
    margin-bottom: 15px ;
    font-family:  Courier New;

}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    margin: 0px auto 0px auto;
    max-width: 1100px;
    text-align: center;
    justify-content: space-around;
}

article {
    background-color: white;
    padding:15px ;
    width: 400px;
    margin:15px ;
}

.article-but {
    text-decoration: none;
    background-color: LightBlue;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    border-radius: 10px;
    border: 3px solid black;
}

footer {
    background-color: LightBlue;
        display: flex;
        margin-top: 15px
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
a {
    display: block;
}
.end {
    display: flex;
    justify-content: center;

}
